div.search-config {
    width: 40%;
    background-color: #FAFAFA;
    height: 70%;
    justify-content: space-between;
    padding: 3%;
    box-sizing: border-box;
}

div.search-config > a {
    width: 100%;
    text-align: left;
    height: 10%;
}

div.search-config > form {
    width: 60%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

div.search-config > form > div {
    display: inherit;
    justify-content: space-between;
}