<h1>Comparador de tiempos</h1>
<h2>La localización origen es: {{ destinations[0].name }}</h2>

<table class="highlight">
  <thead>
    <tr>
      <th>Origen</th>
      <th *ngFor="let header of stops">{{ header.name | capitalizeFirst }}</th>
      <th>Total</th>
      <th>Diferencia</th>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let p of destinations">
      <td>{{ p.name }}</td>

      <td *ngFor="let cell of stops">
        {{ p[cell.name] }} min <i *ngIf="p[cell.name+'Comparision']" class="fa fa-arrow-{{ p[cell.name+'Comparision'] }}" aria-hidden="true"></i>
      </td>

      <td>{{ p.total }} min <i *ngIf="p.totalComparision" class="fa fa-arrow-{{ p.totalComparision }}" aria-hidden="true"></i></td>
      <td>{{ p.dif }} min <i *ngIf="p.difComparision" class="fa fa-arrow-{{ p.difComparision }}" aria-hidden="true"></i></td>
    </tr>
  </tbody>
</table>