<h1>Comparador de tiempos</h1>
<h2>La localización origen es: {{ destinations[0].name }}</h2>

<table class="highlight">
  <thead>
    <tr>
      <th>Origen</th>
      <th>Trabajo</th>
      <th *ngFor="let header of stops">{{ header.name | capitalizeFirst }}</th>
      <th>Diferencia</th>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let p of destinations">
      <td>{{ p.name }}</td>
      <td>{{ p.work }} min <i *ngIf="p.comparision" class="fa fa-arrow-{{ p.comparision }}" aria-hidden="true"></i></td>
      <td>{{ p.dojo }} min <i *ngIf="p.comparision" class="fa fa-arrow-{{ p.comparision }}" aria-hidden="true"></i></td>
      <td>{{ p.total }} min <i *ngIf="p.comparision" class="fa fa-arrow-{{ p.comparision }}" aria-hidden="true"></i></td>
      <td>{{ p.dif }} min <i *ngIf="p.comparision" class="fa fa-arrow-{{ p.comparision }}" aria-hidden="true"></i></td>
    </tr>
  </tbody>
</table>